<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.atob.goormthon">

    <!-- 인터넷, 위치 권한 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!--    정확한 위치    -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!--    대략적인 위치    -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!--    갤러리 접근    -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <!-- 카메라 접근 -->
    <uses-permission android:name="android.permission.CAMERA" />


    <!-- http 통신 허용 -->
    <application
        android:allowBackup="true"
        android:usesCleartextTraffic="true"
        android:networkSecurityConfig="@xml/network_security_config"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/icon"
        android:supportsRtl="true"
        android:theme="@style/Theme.Goormthon"
        tools:targetApi="31">

        <!-- 네이티브 앱 키 추가 -->
        <meta-data android:name="com.kakao.sdk.AppKey" android:value="0c55ec0a5d9c33c836573ffc7eb8e5c1" />

        <activity android:name=".MarkerInfoActivity"/>
        <activity android:name=".AddReviewActivity"/>
        <activity
            android:name=".MainActivity"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.atob.goormthon"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepaths" />
        </provider>

    </application>

</manifest>